.main-content{
    margin-top: 50px;
    &-head{
      font-size: 32px;
      text-align: center;
      font-weight: 500;
      color: #222328;
    }
    &-subhead{
        font-size: 18px;
        color: #666e75;
        font-weight: 200;
        text-align: center;
        margin-top: 8px;
    }
    &-search{
        max-width: 420px;
        height: 48px;
        font-size: 14px;
        padding: 8px 16px;
        width: 100%;
        border: 1px solid #e6ebf4;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        background-color: #fff;
        box-shadow: 0 5px 25px -5px rgba(30,16,84,.1);
        &::placeholder{
            color: #c1c3c4;
        }
    }
}


.cocktail-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    justify-content: center;
    margin-top: 50px;
  }
  
  .cocktail-card {
    border: 1px solid #e6ebf4;
    border-radius: 16px;
    padding: 2.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(189,192,207,0.06),0 10px 16px -1px rgba(189,192,207,0.2);
  
    img {
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  
    h2 {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  
    p {
      font-size: 0.9rem;
      color: #333;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .loading{
    text-align: center;
    margin-top: 10px;
    color: #666e75;
  }